{%block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}" />
</head>
<body class="addbg">
<header id="header">
    <h1>ADMIN SITE</h1>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/admin">HOME</a>
    <a href="/admin/add">ADD</a>
    <a href="/">LEAVE</a>     
    <a href="/signup">LOG OUT</a>  
    </nav>
</div>
<div id="adminadd">
<form method="POST">
    <label>Employee ID</label><input type="text" name="eid" placeholder="Enter a new Employee ID" autocomplete="off" required /><br>
    <label>Employee Name</label><input type="text" name="ename" placeholder="Enter a new Employee Name" autocomplete="off" required/><br>
    <label>Email id</label><input type="email" name="email" placeholder="Enter an email" autocomplete="off" required/><br>
    <label>Date of Birth</label><input type="Date" name="dob" placeholder="Enter DOB" autocomplete="off" required/><br>
    <label>Department</label><input type="text" name="Dept" placeholder="Enter Department" autocomplete="off" required/><br>
    <label>No of Days</label><input type="text" name="nod" placeholder=" (Optional) "autocomplete="off" ><br>
    <label>From Date</label><input type="Date" name="FromDate"  autocomplete="off" ><br><br>
    <label>To Date</label><input type="Date" name="ToDate"  autocomplete="off"><br><br>
    <label>Attendance IN</label><input type="datetime-local" name="Ain" autocomplete="off"><br><br>
    <label>Attendance OUT</label><input type="datetime-local" name="Aout" autocomplete="off"><br><br>  
    <label>Leave Request</label><input type="text" name="LeaveReq" value="None" autocomplete="off"><br>
    <input type="Submit" name="submit" class="addsubmit" onclick="location.href='http://127.0.0.1:5000/admin'">
    <input type="reset" name="reset" class="addsubmit">
</form>
</section></div>
<footer id="footer">THIS IS FOOTER</footer>

{% endblock %}
