{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>
<header id="header">
    <h1>ADMIN SITE</h1>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/">HOME</a>
    <a href="{{url_for('aedit')}}">EDIT</a>
    <a href="#">LEAVE</a>     
    <a href="/login">LOG OUT</a>  
    </nav>
</div>
<table >
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Email id</th>
        <th>Date of Birth</th>
        <th>Department</th>
        <th>No of Days</th>
        <th>From Date</th>
        <th>ToDate</th>
        <th>Attendance IN</th>
        <th>Attendance OUT</th>
        <th>Leave Request</th>
    </tr>
    {%for i in newuser %}
    <tr>
        <td>{{i.eid}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.email}}</td>
        <td>{{i.DoB}}</td>
        <td>{{i.Dept}}</td>
        <td>{{i.NoDays}}</td>
        <td>{{i.FromDate}}</td>
        <td>{{i.ToDate}}</td>
        <td>{{i.Ain}}</td>
        <td>{{i.Aout}}</td>
        <td>{{i.LeaveReq}}</td>
    </tr>
{% endfor %}
</table>
</section>
<footer id="footer">THIS IS FOOTER</footer>
</body>
 {% endblock %}