{%block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}" />
</head>
<body class="addbg">
<header id="header">
    <h1>EMPLOYEE SITE</h1>
    <div id='messages'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
         {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/employee">HOME</a>
    <a href="/employee/add">ADD</a>
    <a href="/">LEAVE</a>     
    <a href="/signup">LOG OUT</a>  
    </nav>
</div>
<div id="aadminadd">
<form action="/employee/add" method="POST">
    <label>Email id</label><input type="email" name="email" placeholder="Enter an email" autocomplete="off" /><br>
    <label>Date of Birth</label><input type="Date" name="dob" placeholder="Enter DOB" autocomplete="off" /><br>
    <label>Department</label><input type="text" name="Dept" placeholder="Enter Department" autocomplete="off" /><br>
    <label>No of Days</label><input type="text" name="nod" placeholder=" (Optional) "autocomplete="off" ><br>
    <label>From Date</label><input type="Date" name="FromDate"  autocomplete="off" ><br><br>
    <label>To Date</label><input type="Date" name="ToDate"  autocomplete="off"><br><br>
    <input type="Submit" name="submit" class="addsubmit">
    <input type="reset" name="reset" class="addsubmit">
    <button class="addsubmit" onclick="location.href='http://127.0.0.1:5000/employee'">Back</button>
</form>
</section></div>
{% endblock %}
