{%block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}" />
</head>
<body class="addbg">
<header id="header">
    <h1>EMPLOYEE SITE</h1>
    <div id='messages'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
         {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/employee">HOME</a>
    <a href="/employee/add">EDIT</a>
    <a href="/employee/leave">LEAVE REQUEST</a>     
    <a href="/logout">LOG OUT</a>  
    </nav>
</div>
<div id="aadminadd">
    {% for d in newuser %}
<form action="{{url_for('eedit')}}" method="POST">
    <label>Email id</label><input type="email" name="email" value="{{ d["email"] }}" autocomplete="off" /><br>
    <label>Date of Birth</label><input type="Date" name="dob" value="{{ d["DoB"] }}" autocomplete="off" /><br>
    <input type="Submit" name="submit" class="addsubmit">
    <button class="addsubmit" onclick="location.href='http://127.0.0.1:5000/employee'">Back</button>
</form>
{% endfor %}
</section></div></body>
{% endblock %}
