{%block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}" />
</head>
<body>
<header id="header">
    <h1>ADMIN SITE</h1>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/">HOME</a>
    <a href="/edit">EDIT</a>
    <a href="#">LEAVE</a>     
    <a href="/signup">LOG OUT</a>  
    </nav>
</div>
<div>
<form 
<h2>EDIT PAGE</h2>
</div>


</section>
<footer id="footer">THIS IS FOOTER</footer>

{% endblock %}
