{%block body%}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}" />
</head>
<body class="addbg">
<script>
    const second = 1000;
    const minute = second * 60;
    const hour = minute * 60;
    const day = hour * 24;

    function countDays() {
        let date_ini = new Date(document.form_main.fdate.value);
        let date_end = new Date(document.form_main.tdate.value);
        let diff = date_end.getTime() - date_ini.getTime();
        count= Math.floor(diff / day)
        //document.write(Math.floor(diff / day))
        document.getElementById('nod').value = count;
}
</script>
<header id="header">
    <h1>EMPLOYEE SITE</h1>
    <div id='messages'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
         {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/employee">HOME</a>
    <a href="/employee/add">EDIT</a>
    <a href="/employee/leave">LEAVE</a>     
    <a href="/signup">LOG OUT</a>  
    </nav>
</div>

<div id="aadminadd">
    <form method="POST" name="form_main">
        <label>From Date</label><input type="Date" id="fdate" name="FromDate"  autocomplete="off" ><br><br>
        <label>To Date</label><input type="Date" id="tdate"name="ToDate"  autocomplete="off"><br><br>
        <button type="button" id="btadd" onclick="countDays();return confirm('Do you want to confirm the dates')">Confirm Date</button> <br>
        <label>No of Days</label><input type="text" id="nod" name='nod' autocomplete="off" /><br>
        <label>Leave Request</label><input type="text" name="LeaveReq" value="Requested" readonly /><br>
                <input type="Submit" name="submit" class="addsubmit">
        <input type="reset" name="reset" class="addsubmit">
        <button class="addsubmit" onclick="location.href='http://127.0.0.1:5000/employee'">Back</button>
    </form>
    </section></div></body>
    {% endblock %}