{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<header id="header">
    <h1>EMPLOYEE SITE</h1>
    <div id='messages'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
         {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/employee">HOME</a>
    <a href="{{url_for('eedit')}}">EDIT</a>
    <a href="/">ATTENDANCE</a> 
    <a href="/employee/leave">LEAVE REQUEST</a>     
    <a href="/logout">LOG OUT</a>  
    </nav>
</div>
<table >
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Email id</th>
        <th>Date of Birth</th>
        <th>Department</th>
        <th>No of Days</th>
        <th>From Date</th>
        <th>ToDate</th>
        <th>Attendance IN</th>
        <th>Attendance OUT</th>
        <th>Leave Request</th>
    </tr>
    {%for i in newuser %}
    <tr>
        {% set id=i.ename %}
        
        <td>{{i.eid}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.email}}</td>
        <td>{{i.DoB}}</td>
        <td>{{i.Dept}}</td>
        <td>{{i.NoDays}}</td>
        <td>{{i.FromDate}}</td>
        <td>{{i.ToDate}}</td>
        <td>{{i.Ain}}</td>
        <td>{{i.Aout}}</td>
        <td>{{i.LeaveReq}}</td>
    </tr>
{% endfor %}

</section>
</table>
<!--LEAVE REQ,ATTENDANCE  ,UPDATE-,Validation - username,password,,TEST PY -->
{% endblock %}