{% block body %}
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <script>
   //var formattedToday ;
function ad() {
const d = new Date();
const today = new Date();
var formattedToday = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ '   ' + today.getHours()+ ':' +today.getMinutes() + ':' + today.getSeconds(); 
document.getElementById("Ain").innerHTML=formattedToday
const button = document.querySelector('button');
//alert('The Ain time is:'+formattedToday)
return formattedToday
button.disabled=true
} 

function adc() {
const d = new Date();
const today = new Date();
var formattedToday = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()+ '   ' + today.getHours()+ ':' +today.getMinutes() + ':' + today.getSeconds(); 
//alert('The AOUT time is:'+formattedToday)
document.getElementById("Aout").innerHTML=formattedToday
return formattedToday

}
    </script>
<header id="header">
    <h1>EMPLOYEE SITE</h1>
    <div id='messages'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            {{ message }}
         {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</header>
<div >
<section id="section1" >
    <nav id="nav"> 
    <a href="/employee">HOME</a>
    <a href="{{url_for('eedit')}}">EDIT</a>
    <a href="/employee/leave">LEAVE REQUEST</a>     
    <a href="/logout">LOG OUT</a> 
    </nav>
</div>
<table >
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Email id</th>
        <th>Date of Birth</th>
        <th>Department</th>
        <th>No of Days</th>
        <th>From Date</th>
        <th>ToDate</th>
        <th>Reason Of Leave</th>
        <th>Attendance IN</th>
        <th>Attendance OUT</th>
        <th>Leave Request</th>
    </tr>
    {%for i in newuser %}
    <tr>
        <td>{{i.eid}}</td>
        <td>{{i.ename}}</td>
        <td>{{i.email}}</td>
        <td>{{i.DoB}}</td>
        <td>{{i.Dept}}</td>
        <td>{{i.NoDays}}</td>
        <td>{{i.FromDate}}</td>
        <td>{{i.ToDate}}</td>
        <td>{{i.RoF}}</td>
        <td>{{i.Ain}}</td>
        <td>{{i.Aout}}</td>
        <td>{{i.LeaveReq}}</td>
</tr>
{% endfor %}
</section>
</table>

<div id="qwert">
    <br>
    <form action="/isubmit">
    <button type="submit" name='ain' id="Ain" onclick="ad();"  >Register your In time</button></form>
    <form action="/osubmit">
        <button name='aout' id="Aout"onclick="adc()">Register your Out time</button></form>
</div>
</body>
<!--LEAVE REQ,ATTENDANCE  ,UPDATE-,Validation - username,password,,TEST PY -->
{% endblock %}