{% block body %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}">
    <title>Login</title>
</head>
<div class="login-block" id="divlogin">
<center>  <h1> Login </h1> </center>
 <hr>
<body id="flogin">
<form method="POST" class="'form1" >
    <label class="l1"> Username </label>
    <input type="text"name="name" placeholder="Enter Username" size="15" autocomplete="off" required /><br>
    <label class="l1"> Password </label>
    <input type="password" name="password" placeholder="Enter Password"size="15" autocomplete="off" required /><br>

    <input type="submit" value="Submit" class="submit">
    <input type="button" value="Back" class='submit' onclick="location.href='http://127.0.0.1:5000/'"><br>
<center>Create Account<a href="http://127.0.0.1:5000/signup"> SignUp</a></center>
</form>
</body>
</div>
{% endblock %}