{% block body %}
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static',filename='styles/style.css') }}">
</head>
<div class="signupclass">
    <center>  <h1> Sign Up </h1> </center>
    <hr>
<body class="signupbg">
<form  method='POST' id="signup">
    Username: <input type="text" name="name" placeholder="Enter Username" size="15" autocomplete="off" required /><br>
    Email: <input type="text" name="email" placeholder="Enter Email"  size="15" autocomplete="off" required /><br>
    Password: <input type="password" name="password" placeholder="Enter Password"  size="15" autocomplete="off" required /><br>
    Re-enter Password: <input type="password" name="password" placeholder="Re-Enter Password"  size="15" autocomplete="off" required /><br>
    <input type="submit" value="Submit" class="ssubmit">
    <input type="reset" value="Reset" class="ssubmit">
    <input type="button" value="Back" class="ssubmit" onclick="location.href='http://127.0.0.1:5000/'">
</form>
</body>
</div>
</html>
{% endblock %} 