body {
    background-size: auto;
  }
  
.Container{
   text-align:center; 
   line-height:540px;
}
.alogin
{
    background-color:coral;
    color:greenyellow;
    height: 50px;
    width: 150px;
    padding:10px;
    font-size: medium;
    font-weight:bold ;
}

#a1{
    margin:100px;
}
#a2{
    margin-right: 20px;
}
.Container{
  background-image: url("https://www.slideteam.net/media/catalog/product/cache/1280x720/e/m/employee_management_system_training_administration_personal_data_Slide01.jpg");  
  }

table th,td{
    border: 1px solid black;
    border-collapse: collapse;
  }
td {
    background-color:burlywood;
  }
th{
  background-color:#96D4D4 ;
}  

#flogin{
  background-color:goldenrod;
}
.login-block {
  padding: 50px;
  background-color:#75b72e;
}
.submit{
  background-color:coral;
  color:white;
  padding: 16px 20px;
  margin: 15px 0px;
  border: none; 
  cursor: pointer;
  width: 49%;
  opacity: 0.9;
  font-size: medium;
  font-weight:bold ;
}
.submit:hover {
  opacity: 2;
}
hr {
  border: 1px solid #F1F1F1;
  margin-bottom: 25px;
}
#divlogin{
  padding: 35px 15px;
}
input[type=text], input[type=password], textarea{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #F1F1F1;
}
.l1{
  padding: 20px;
  font-weight: bolder;
  font-size: large;
}
.signupclass{
  padding: 10px 5px;
  background-color:#75b72e;
}
.signupbg{
  background-color:goldenrod;
}
#signup
{
    font-size: large;
    color:black;
    font-weight: bolder;
}

.ssubmit{
  background-color:coral;
  color:white;
  padding: 20px 25px;
  margin: 5px 0px;
  border:none; 
  cursor: pointer;
  width: 33%;
  opacity: 0.9;
  font-size: medium;
  font-weight:bold ;
}
.ssubmit:hover {
  opacity: 1;
}
#footer{
  background-color: #777;
  padding: 15px;
  text-align: center;
  color: white;
}
header {
  background-color: rgb(120, 116, 116);
  padding: 3px;
  text-align: center;
  font-size: 15px;
  color:white;
}
#section1{
  background-color:BLACK;
  padding:10px;
  text-align:justify;
  font-size: larger;
  
}
a{
  text-decoration:none;
  Color: WHITE;
  margin-left: 1em;
}


#bta{
  text-decoration:none;
  Color: WHITE;
  background-color:BLACK;
  text-align:justify;
  font-size: large;
}
#adminadd input[type=text],input[type=email],input[type=date],input[type=datetime-local],textarea {
  width: 20%;
  padding: 5px 10px;  
  margin: 8px 0;
  border:none;
  margin-left: 10em;
  display: flex;
margin-top: -1em;

}
#adminadd label{
color:white;
margin-left: 1em;
margin-right: 5em;
}
#adminadd{
  background-color: chocolate;
}

.addsubmit{
  color:white;
  background-color: #777;
  padding: 10px 20px;
  margin: 15px 20px;
  border: none; 
  cursor: pointer;
  width: 10%;
  opacity: 1.0;
  font-size:smaller;
  font-weight:bold ;
}

#messages{
  color:rgb(218, 165, 32);
  font-weight:bold;
}

#demo{
  color:black;
  background-color: #777;
  border:none;
}

#aadminadd input[type=text],input[type=email],input[type=date],input[type=datetime-local],textarea {
  width: 20%;
  padding: 5px 10px;  
  margin: 8px 0;
  border:none;
  margin-left: 10em;
  display: flex;
margin-top: -1em;

}
#btadd{
  color:white;
  background-color: #777;
  border:sone;
  margin-left: 10em;
  display: flex;
  padding: 5px 10px;
  margin-top: -1em;
 
}
#aadminadd label{
color:white;
margin-left: 1em;
margin-right: 5em;
}
#aadminadd{
  background-color:goldenrod;
}